header{
    background: #eee;
}
.espacador1{
    height: 150px;
}

.containerinfocupons{
    border: 1px solid black;
    margin: 15px 0;
    border-radius: 15px;
    
    
    border: 2px solid rgba(64, 211, 64, 0.45);
    background: rgba(255, 255, 255, 0.79);
}
.textinfocupons{
    margin: 0;
    font-size: 1.5em;
}
.imginfocupons{
    width:80px;
    display: block;
    margin: auto;
}
.btnpegarcupom{
    background: #3cd13c;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    color: white!important;
    border-radius: 15px;
    padding: 10px 5px;
    margin-left: auto;
    max-width: 300px;
}
.valorcredito{
    background: white;
    padding: 10px 5px;
    border: 2px solid #3cd13c;
    border-radius: 99999px;
    text-align: center;
    
}
.green{
    color: #3cd13c;
}